# Í≥†Í∞ù Ïã†Ïö©Ïπ¥Îìú ÏÇ¨Ïö© ÌòÑÌô© Îç∞Ïù¥ÌÑ∞ (Ï∫êÍ∏Ä)

Ïù¥Ìï¥Ïõê

‚û°Ô∏è Ïù¥Ïª§Î®∏Ïä§ Í∞ôÏùÄ.. Ïò®ÎùºÏù∏ ÏáºÌïëÎ™∞Ïùò Í≥†Í∞ù+Ïã†Ïö©Ïπ¥Îìú Îç∞Ïù¥ÌÑ∞??

‚û°Ô∏è Ïª¨Îüº ÏÑ§Î™Ö: https://www.kaggle.com/code/maralka/clustering-credit-card-customers

**üìå Ï£ºÏ†ú**

1. Í≥†Í∞ù Íµ∞Ïßë Î∂ÑÏÑù -> Íµ∞ÏßëÎ≥Ñ ÎπÑÏ¶àÎãàÏä§Ï†Å Î≠îÍ∞ÄÎ•º Ï†úÏïà
    - ÎπÑÏ¶àÎãàÏä§ ÏÉÅÌô© Í∞ÄÏ†ï ÌïÑÏöî, Î∂ÑÏÑù Í≤∞Í≥º Ïù¥ÌõÑÏùò Í≥ºÏ†ïÎèÑ Ï§ëÏöî
    - e.g., Ï∂©ÏÑ±ÎèÑ ÎÜíÏùÄ Íµ∞Ïßë Ï∞æÏïÑÏÑú Ìï†Ïù∏Ïø†Ìè∞ Ï¶ùÏ†ïÌïòÍ∏∞

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn 

plt.rcParams['font.family'] ='D2Coding'
pd.set_option('display.max_columns', None)

In [2]:
ccc = pd.read_csv('customer_credit_card.csv')

In [3]:
ccc.head()

,ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [4]:
ccc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [5]:
ccc.describe(include='all')

,ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
unique,8950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,C10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,NaN,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,NaN,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,NaN,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,NaN,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,NaN,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [6]:
# Ïª¨ÎüºÎ≥Ñ Í≥†Ïú†Í∞í Ï∂úÎ†•

def get_unique(df):
    for column in df.columns:
        unique_values = df[column].unique()
        print(unique_values)
        print()

get_unique(ccc)

['C10001' 'C10002' 'C10003' ... 'C19188' 'C19189' 'C19190']

[  40.900749 3202.467416 2495.148862 ...   23.398673   13.457564
  372.708075]

[0.818182 0.909091 1.       0.636364 0.545455 0.875    0.454545 0.727273
 0.5      0.888889 0.090909 0.272727 0.363636 0.       0.666667 0.75
 0.857143 0.181818 0.333333 0.6      0.3      0.125    0.9      0.833333
 0.8      0.2      0.777778 0.555556 0.25     0.142857 0.571429 0.4
 0.444444 0.714286 0.222222 0.1      0.625    0.428571 0.111111 0.285714
 0.7      0.375    0.166667]

[  95.4     0.    773.17 ...  291.12  144.4  1093.25]

[   0.    773.17 1499.   ...  734.4  1012.73 1093.25]

[  95.4     0.   1333.28 ...  113.28  291.12  144.4 ]

[   0.       6442.945483  205.788017 ... 8555.409326   36.558778
  127.040008]

[0.166667 0.       1.       0.083333 0.666667 0.333333 0.25     0.75
 0.5      0.416667 0.916667 0.583333 0.375    0.625    0.272727 0.833333
 0.909091 0.111111 0.142857 0.090909 0.363636 0.1      0.875    0.125
 0.818182 0.636364 0.2      0.8      0.3      0.9      0.285714 0.727273
 0.181818 0.7      0.545455 0.888889 0.714286 0.454545 0.857143 0.555556
 0.428571 0.4      0.571429 0.6      0.222222 0.777778 0.444444]

[0.       1.       0.083333 0.166667 0.25     0.916667 0.5      0.416667
 0.333333 0.666667 0.375    0.583333 0.1      0.090909 0.833333 0.75
 0.111111 0.142857 0.125    0.875    0.363636 0.2      0.818182 0.8
 0.3      0.636364 0.181818 0.909091 0.285714 0.222222 0.727273 0.571429
 0.6      0.272727 0.714286 0.545455 0.428571 0.444444 0.454545 0.625
 0.777778 0.555556 0.7      0.9      0.4      0.857143 0.888889]

[0.083333 0.       0.583333 1.       0.25     0.916667 0.75     0.5
 0.333333 0.666667 0.416667 0.166667 0.833333 0.4      0.181818 0.818182
 0.272727 0.375    0.125    0.636364 0.545455 0.909091 0.888889 0.2
 0.8      0.1      0.142857 0.857143 0.444444 0.454545 0.111111 0.6
 0.555556 0.777778 0.3      0.9      0.363636 0.714286 0.875    0.222222
 0.285714 0.7      0.727273 0.571429 0.090909 0.428571 0.625   ]

[0.       0.25     0.083333 0.166667 0.333333 0.363636 0.833333 0.5
 0.727273 0.125    0.875    0.111111 0.416667 0.181818 0.545455 0.75
 0.142857 0.583333 0.666667 0.222222 0.285714 0.909091 0.2      0.625
 0.090909 0.4      1.       0.8      0.636364 0.3      0.916667 0.444444
 1.25     0.1      0.428571 0.272727 0.555556 0.6      0.454545 1.166667
 0.375    0.777778 0.714286 0.571429 0.857143 1.125    1.1      1.5
 0.7      0.818182 0.9      0.888889 1.090909 1.142857]

[  0   4   1   3   6  13   5  16  10   2  11   7  12  37  27  23  21  14
  40   8   9  26  15  18  28  24  20  17  22  31 123  52  51  62  19  25
  30  29  53  45  43  42 107  38  56  39  32  33  50  34  63  36 110  47
  48  71  35  93  80  44  61  46  49  69  41]

[  2   0  12   1   8  64   5   3   6  26  11   9  92  17  13  45  14  41
  27  20  87  18   4  42  61  33   7  50  22  23  60  46  75  31  10  34
  81  25  85 217  19  52 216  97  24  77 130  90  44  39  15  30  36 123
 151  21 101  49  98  28  84  93  72  38  99  62  48  16  32  51  74  29
  59  76  47 126 229  40 103 121 157 114  53  83  43  54 222  66 141  37
  79  70  80 194 117 100 111  67 219  55 152 104 182  88  82  71  78  35
 122 105 108  69 175 135  91  65  68 119  63 140 113 358  58 248 129  56
  89  57 139 176 136 195  73 109 208 115 110 147 273 102 185 171 168 232
  95  86 148 112 128 254 198 298 154 116 142 131 347 204 200  94 118 344
 162 308 199 309  96 274 224 143 133 127 186]

[ 1000.        7000.        7500.        1200.        1800.
 13500.        2300.       11000.        2000.        3000.
  8000.        2500.       13000.        4000.       11250.
  9000.        6000.        1700.       10500.        6900.
  5000.        4500.        1500.        8500.        2400.
  4200.        3300.       12000.        3500.        6500.
  1600.        4150.        1850.        6250.        2250.
  9500.       16500.        5700.        5500.       17000.
  3200.       19000.        2800.       18000.       21500.
 10000.       20000.        7900.       15000.       12500.
 14000.        5300.         900.        6150.       11500.
 23000.        2700.       14500.       19500.        1400.
  2900.        1950.        7200.       10950.        2100.
   500.       21000.        4800.        7300.       18500.
  6550.        6200.        3150.       11800.       11300.
  2750.       10300.        2850.       17500.       22500.
  6750.       16000.        1750.       15500.        3800.
  6600.        3650.        2600.        4600.        3350.
  4300.        5250.       28000.        3600.       10200.
   750.        7600.        2720.        2200.        7350.
   300.        3750.        1900.       10400.        5200.
  4350.        3050.        6700.       20500.        5750.
  8300.        7950.        3100.        4050.        6300.
  3666.666667   200.        9100.        3700.        7100.
  4750.        3900.       10100.        1300.       19600.
 10450.       11150.         600.        4700.         150.
  3400.        1350.        5100.        7227.272727 13550.
  9200.        6100.        2050.        6400.        4250.
 14600.        8600.        3511.111111  5600.        6727.272727
 13600.        8800.       11100.       12200.        8100.
  8050.        4100.        5550.        4450.        5650.
  8200.        5400.       25000.        9950.        1150.
  6800.        4650.        7800.        2150.       22000.
   400.        7700.        4400.        1050.         700.
  5181.818182  4900.        1100.        2550.        2283.333333
 30000.        9700.        9400.                nan  2725.
   450.        8700.       12300.        7050.        1550.
  9800.        5450.         800.        8954.545455  2950.
  2450.        6850.        4950.        5900.        1250.
 17150.        9600.          50.       10750.        1120.
 13450.        3777.777778   650.        1450.        2350.
  1833.333333]

[ 201.802084 4103.032597  622.066742 ...   81.270775   52.549959
   63.165404]

[ 139.509787 1072.340217  627.284787 ...   82.418369   55.755628
   88.288956]

[0.       0.222222 1.       0.25     0.083333 0.3      0.333333 0.166667
 0.111111 0.916667 0.2      0.090909 0.454545 0.181818 0.444444 0.636364
 0.5      0.75     0.142857 0.888889 0.545455 0.818182 0.363636 0.833333
 0.666667 0.909091 0.1      0.583333 0.8      0.416667 0.4      0.125
 0.714286 0.6      0.571429 0.375    0.9      0.285714 0.7      0.272727
 0.777778 0.875    0.727273 0.428571 0.625    0.857143 0.555556]

[12  8 11  9 10  7  6]